* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  background-color: white;
  color: #292828;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
/* -------FONT---------*/
@font-face {
  font-family: "zelda";
  src: url(FONTS\ /Triforce.ttf);
  font-style: normal;
  font-weight: 100;
}
/* -------HEADINGS---------*/
h1 {
  margin-top: 0;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  font-size: 370%;
}
ul,
li {
  list-style-type: none;
}

/* -------NAV---------*/

.logo {
  margin-left: 1%;
  margin-top: 15px;
  height: 100px;
  float: left;
}
.right-nav {
  margin-top: 27px;
  font-size: 81%;
  color: white;
  float: right;
}
.right-nav li {
  display: inline-block;
  margin-right: 20px;
}
.right-nav a:link,
.right-nav a:visited {
  color: white;
  text-decoration: none;
  padding: 1px;
  border-bottom: 1px solid white;
  transition: border-bottom 0.2s, color 0.2s;
}
.right-nav a:hover,
.right-nav a:active {
  color: yellow;
  border-bottom: 1px solid transparent;
}
/* -------HEADER---------*/
header {
  background: linear-gradient(to bottom right, #19253f 80%, #292f49 100%);
  height: 65vh;
  color: white;
}
.header-text {
  position: absolute;
  width: 100vh;
  top: 25%;
  left: 33%;
  transform: translate(-45%, -25%);
}
.header-text h2 {
  font-family: zelda;
  font-size: 80px;
  margin-bottom: 40px;
}
.header-text p {
  font-size: 20px;
  top: 30%;
}
.send-link {
  float: right;
  bottom: 5px;
}

/* -------MAIN PAGE---------*/
.sidenavcol,
.infocol {
  margin-top: 20px;
  border: 1px solid black;
}
.main {
  border: 1px solid black;
  padding-top: 15px;
}

/* -------SIDEBAR---------*/
.sidenavcol {
  height: 50vh;
  padding: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
.sidenavcol h4 {
  font-family: zelda;
  color: blue;
  text-align: center;
  border-bottom: 5px solid blue;
}
/* .side-col {
  text-align: center;
  width: 40vh;
  height: 50px;
  border: 1px solid yellow;
  padding: 10px;
  margin: 5px;
} */
/* -------SIDEBAR IMG---------*/
#images {
  text-align: center;
  width: 20vh;
  height: 10vh;
  border: 1px solid yellow;
  padding: 10px;
  margin: 5px;
}

#images a {
  font-size: x-small;
  margin: 0px 20px;
  display: inline-block;
  text-decoration: none;
  color: black;
}

/* -------INFORMATION---------*/
.infocol {
  height: 100%;
  padding: 20px;
  margin-left: 5px;
  margin-right: 10px;
}
.infocol h2 {
  font-family: zelda;
  color: black;
  text-align: center;
  border-bottom: 3px solid yellow;
  border-bottom-h: 5px;
}

.mainpic {
  margin-top: 25px;
  width: 100%;
}
.inforow {
  text-align: center;
  margin: 50px;
  padding-top: 30px;
}
.inforow h5 {
  text-decoration: underline black;
}
.inforow p {
  font-size: small;
}

/* -------FOOTER---------*/

footer {
  background-color: #dadada;
  padding: 40px;
  font-size: 80%;
}
.footer-nav {
  list-style: none;
  float: right;
}
.footer-nav li {
  display: inline-block;
  margin-right: 20px;
}
.footer-nav a:link,
.footer-nav a:visited {
  color: black;
  text-decoration: none;
  padding: 1px;
  border-bottom: 1px solid black;
  transition: border-bottom 0.2s, color 0.2s;
}
.footer-nav a:hover,
.footer-nav a:active {
  color: pink;
  border-bottom: 1px solid transparent;
}
.copyright {
  margin-top: 50px;
  text-align: center;
}
